<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="row">
  <div class= "col-md-4 col-md-offset-4">
    <h2 class="text-center"> Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %> <!-- remplace les messages d alerte de devises -->
      <!-- <%= devise_error_messages! %>      Message d'aelerte Devise -->

      <div class="form-group">
        <%= f.label :first_Name %><br />
        <%= f.text_field :first_name,  autofocus: true, placeholder: "First Name", class: "form-control prenom" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: "form-control nom" %>
      </div>

      <div class="form-group">
        <%= f.label :fullname %><br />
        <%= f.text_field :fullname, autofocus: false, placeholder: "Fullname", class: "form-control fullname", :readonly => true %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :role %>
        <%= f.collection_select :role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize} %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-normal btn-block" %>
      </div>
    <% end %>

<%= render "devise/shared/links" %>

    <script type="text/javascript">
        $( document ).ready(function() {
            $('.prenom, .nom').on('change', function(e) {
                var changedFullName = $('.prenom').val() + " " + $('.nom').val();
                $('.fullname').val(changedFullName);
            });
        });
    </script>